package greet

import (
	"half.blue.gohtmx/components"
	"strconv"
)

templ Content(is_htmx_req bool, title string, greeting string) {
	@components.UpdateTabTitle(title)
	<h3>{ greeting }</h3>
	<button
		class="button"
		hx-get="/"
		hx-target="#page"
		hx-swap="innerHTML"
		hx-replace-url="true"
	>
		back
	</button>
	<div>
		<p>is htmx request: { strconv.FormatBool(is_htmx_req) }</p>
	</div>
}
