package components

templ HTMLWrapper(title string) {
  <!doctype html>
  <html lang="en">
    <head>
      <title>{title}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/styles.css" />
      <script src="/static/js/htmx.min.js"></script>
      <script src="/static/js/index.js"></script>
    </head>
    <body id="page">
      { children... }
    </body>
  </html>
}