package count

import (
	"half.blue.gohtmx/components"
	"strconv"
)

templ counts(global int, session int) {
	<div>
		<h2>Global Count: { strconv.Itoa(global) }</h2>
	</div>
	<div>
		<h2>Session Count: { strconv.Itoa(session) }</h2>
	</div>
}

templ View(global int, session int) {
	@components.UpdateTabTitle("Counter")
	<h1>Counter</h1>
	<button
		class="button"
		hx-get="/"
		hx-target="#page"
		hx-swap="innerHTML"
		hx-replace-url="true"
	>
		back
	</button>
	@counts(global, session)
}
